body {
  font-family: FreeSans, Helvetica, Arial, sans-serif;
}

body, #preso, .slide, pre.sh_sourceCode, code {
  background-color: #EEE;
  box-shadow: none;
  color: #444;
}

#footer {
  display: none;
}

h1 {
  color: #000;
  font-size: 500%;
  font-weight: bold;
  letter-spacing: -0.04em;
}
.title h1, .bullets h1 {
  text-align: left;
}

.title h2, .bullets h2, .bullets ul, .bullets p {
  font-size: 250%;
  font-weight: normal;
  letter-spacing: -0.02em;
  text-align: left;
}

.bullets ul li {
  list-style: disc inside;
  margin: 0;
  padding: 0.2em 0;
  text-align: left;
}

pre, code {
  font-size: 72%;
  line-height: 1.4em;
}
h2, code, p code, ul code {
  font-size: 90%;
}
h3 {
  font-size: 140%;
  margin-top: 3em;
  text-align: left;
}
.diagram pre {
  font-size: 220%;
}

.image img {
  height: 600px;
}

.front img {
  float: right;
  margin-top: -200px;
  width: 320px;
}
