@import url(/parade.css);

body {
  color: #394249;
}

.hashtag {
  color: #5695be;
  font-size: 1.8em;
  position: absolute;
  right: 0;
  top: 1em;
}

h1 {
  color: #8d2d2d;
  font-size: 7em;
}

a {
  color: #5695be;
}

.bullets {
  font-size: 1.3em;
}

.diagram pre.highlight {
  font-size: 1.7em;
}
.html pre.highlight {
  font-size: 1.8em;
}
.make pre.highlight {
  font-size: 2.4em;
}
.sigil pre.highlight {
  font-size: 12em;
  text-align: center;
}
.test pre.highlight {
  font-size: 1.8em;
}
pre.highlight .c, pre.highlight .c1 {
  font-style: normal;
}
