body {
  font-family: FreeSans, Helvetica, Arial, sans-serif;
}

body, #preso, .slide, pre.sh_sourceCode {
  background-color: #EEE;
  box-shadow: none;
  color: #333;
}

h1 {
  color: #000;
  font-size: 5em;
  font-weight: bold;
  letter-spacing: -0.04em;
}
.title h1, .bullets h1 {
  text-align: left;
}

h2, .bullets ul, .bullets p {
  font-size: 2.5em;
  font-weight: normal;
  letter-spacing: -0.02em;
  text-align: left;
}

.bullets ul li {
  list-style: disc inside;
  margin: 0;
  padding: 0.2em 0;
  text-align: left;
}

a {
  text-decoration: none;
}

code {
  font-size: 0.9em;
}
pre code {
  font-size: 0.72em;
  line-height: 1.4em;
}
.diagram pre {
  font-size: 2.2em;
}
.commandline pre {
  font-size: 4em;
  font-weight: bold;
}

.quote blockquote p {
  color: #000;
  font-family: Times New Roman;
  font-style: italic;
  letter-spacing: 0;
  line-height: 1.4em;
}

