body {
  background: #eee;
  color: #333;
  font-family: FreeSans, Helvetica, Arial, sans-serif;
}

#preso, .slide {
  background: transparent;
  box-shadow: none;
  color: inherit;
}

#footer {
  display: none;
}

.slide {
  display: table;
  padding-top: 0 !important;
}

.content {
  display: table-cell;
  padding-top: 0 !important;
  vertical-align: middle;
}

.title h1, .title h2,
.bullets h1, .bullets h2 {
  text-align: left;
}

h1 {
  font-size: 5em;
  font-weight: bold;
  letter-spacing: -0.04em;
}

h2, h3 {
  font-size: 2.5em;
  letter-spacing: -0.02em;
}

.bullets p {
  font-size: 2.4em;
  line-height: 1.5em;
  margin: 1.5em 0;
  text-align: left;
}

.bullets ul li {
  font-size: 0.8em;
  letter-spacing: -0.02em;
  line-height: 1.5em;
  list-style: disc outside;
  margin: 0 0 0 1em;
  padding: 0;
  text-align: left;
}

code {
  background: transparent;
  border: none;
  color: inherit;
  font-size: 1.1em;
  padding: 0;
}

pre.highlight {
  background: transparent;
  color: inherit;
  font-size: 2.6em;
  line-height: 1.4em;
}

pre.highlight .err {
  background: transparent;
}

.diagram pre {
  font-size: 2em;
}

