body {
  background: #eee;
  color: #333;
  font-family: FreeSans, Helvetica, Arial, sans-serif;
}

#preso, .slide {
  background: transparent;
  box-shadow: none;
  color: inherit;
}

.slide p, .slide li {
  line-height: 1.5em;
}

#footer {
  display: none;
}

.slide {
  display: table;
  padding-top: 0 !important;
}

.content {
  display: table-cell;
  padding-top: 0 !important;
  vertical-align: middle;
}

.title h1, .title h2,
.bullets h1, .bullets h2 {
  text-align: left;
}

h1 {
  font-size: 5em;
  font-weight: bold;
  letter-spacing: -0.04em;
}

h2, h3 {
  font-size: 2.5em;
  letter-spacing: -0.02em;
}

.bullets p {
  font-size: 2.4em;
  margin: 1.5em 0;
  text-align: left;
}

.bullets ul li {
  font-size: 0.8em;
  letter-spacing: -0.02em;
  list-style: disc outside;
  margin: 0 0 0 1em;
  padding: 0;
  text-align: left;
}

blockquote {
  border: none;
  font-family: Times New Roman, serif;
  font-style: italic;
  padding: 0 0em 0 4em;
  position: relative;
}

blockquote:before {
  content: '“';
  font-family: FreeSans, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 6em;
  font-weight: bold;
  position: absolute;
  top: -0.22em;
  left: 0;
}

blockquote li {
  list-style: disc outside;
  margin-left: 1em;
}

cite {
  display: block;
  font-style: normal;
  padding-left: 6.5em;
  text-align: left;
}

code {
  background: transparent;
  border: none;
  color: inherit;
  font-size: 1.1em;
  padding: 0;
}

pre.highlight {
  background: transparent;
  color: inherit;
  font-size: 2.6em;
  line-height: 1.4em;
}

pre.highlight .err {
  background: transparent;
}

pre.highlight .c1, pre.highlight .cm, pre.highlight .cp, pre.highlight .cs {
  font-style: normal;
}

.diagram pre.highlight {
  font-size: 2em;
}
