/*#preso { width: 1200px; }*/

h1 { font-weight: bold; letter-spacing: -0.03em; color: #f80046; }
h2 { font-family: Times New Roman; font-style: italic; }
pre { font-size: 2.4em; }

.bullets ul li { font-size: 2.0 em; padding: 0; }

p { padding: 0 25px; font-size: 2em; }

