body, #preso, .slide, pre.sh_sourceCode, code {
  background-color: #f9f7f6;
  color: #1f1b14;
}

h2, .bullets ul {
  color: #9e4e33;
}

pre.sh_sourceCode .sh_string {
  color: #9e4e33;
  font-weight: bold;
}

.portrait img {
  height: 90%;
}

.landscape img {
  width: 90%;
}

