body, .slide {
  background: #ffe617;
  color: #111;
  border: none;
  font-family: FreeSans, Helvetica, Arial, sans-serif;
}

.frontpage h1 {
  font-family: Times New Roman, serif;
  font-size: 18em;
  font-weight: bold;
  letter-spacing: -0.06em;
  margin: 0 0 0.2em;
}

h1 {
  font-weight: bold;
  letter-spacing: -0.06em;
}

h2 {
  font-size: 2.5em;
}

.commandline pre {
  background: #fff;
  padding: 1em;
  font-size: 3.0em;
}

.commandline code.result {
  font-weight: bold;
  color: #cc0000;
}

pre.sh_sourceCode {
  font-size: 2.0em;
  padding: 1.6em;
}

img {
  border: 2px solid #e4900a;
}

.callout h1 {
  font-size: 10em;
  margin: 0;
}

.callout h2 {
  font-family: Times New Roman, serif;
}

.center p {
  font-size: 3em;
  font-family: Times New Roman, serif;
}

#footer {
  display: none;
}
