body, #preso, .slide {
  box-shadow: none;
}

body, .slide {
  background: #d4e5f7;
  color: #333;
  border: none;
  font-family: FreeSans, Helvetica, Arial, sans-serif;
}

.frontpage h1 {
  font-family: Times New Roman, serif;
  font-size: 18em;
  font-weight: bold;
  letter-spacing: -0.06em;
  margin: 0 0 0.2em;
}

#footer {
  display: none;
}

h1 {
  font-weight: bold;
  letter-spacing: -0.06em;
}

h2 {
  font-size: 2.5em;
}

pre, code {
  font-size: 65%;
}
pre {
  padding: 0 0.5em;
}
.commandline pre {
  font-size: 3em;
}

.callout h1 {
  font-size: 10em;
  margin: 0;
}

.callout h2 {
  font-family: Times New Roman, serif;
  font-size: 7.5em;
}

.center p {
  font-size: 3em;
  font-family: Times New Roman, serif;
}
