@import url(/parade.css);

body {
  background: #fff;
}

.bullets, .title {
  background: #1a72c9;
  color: #fff;
}

.math, .diagram, .subhead {
  background: #F5E52D;
  color: #333;
  font-weight: bold;
}

.code, .commandline {
  background: #303030;
}
.code pre.highlight {
  color: #f8f8f2;
}
.commandline pre.highlight pre.result {
  color: #e9e9f5;
}
.commandline pre.highlight .nb {
  color: #40cfff;
}
.commandline pre.highlight .nv {
  color: #2be0e0;
}

.diagram pre.highlight {
  font-size: 2.4em;
}

pre.highlight {
  font-size: 2.2em;
}
