body {
  font-family: FreeSans, Helvetica, Arial, sans-serif;
}

body, #preso, .slide, pre.sh_sourceCode, code {
  background-color: #003;
  box-shadow: none;
  color: #FFF;
}

#footer {
  display: none;
}

h1 {
  color: #E20031;
  font-size: 500%;
  font-weight: bold;
  letter-spacing: -0.04em;
}
.title h1, .bullets h1 {
  text-align: left;
}

.title h2, .bullets h2, .bullets ul, .bullets p {
  font-size: 250%;
  font-weight: normal;
  letter-spacing: -0.02em;
  text-align: left;
}

.bullets ul li {
  list-style: disc inside;
  margin: 0;
  padding: 0.2em 0;
  text-align: left;
}

pre, .sh_sourceCode code, code {
  font-size: 72%;
  line-height: 1.0em;
}
h2, code, p code, ul code {
  font-size: 90%;
}
.diagram pre {
  font-size: 220%;
}
pre.sh_sourceCode .sh_keyword,
pre.sh_sourceCode .sh_comment {
  color: #E20031;
}
pre.sh_sourceCode .sh_symbol,
pre.sh_sourceCode .sh_type {
  color: #00E2DD;
}
pre.sh_sourceCode .sh_preproc {
  color: #FFF;
}

.image img {
  width: 90%;
}
.image p {
  font-size: 1em;
}
.dependencies img {
  border: 24px solid #FFF;
}

.quote blockquote p {
  color: #FFF;
  font-family: Times New Roman;
  font-style: italic;
  letter-spacing: 0;
  line-height: 1.4em;
}
.quote p {
  color: #E20031;
}

.gems:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  width: 0;
  overflow: hidden;
}

.gems ul {
  color: #E20031;
  float: left;
  font-size: 80%;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 20%;
}
.gems ul em {
  color: #FFF;
}

.content.gems li {
  padding: 0 0 0 0;
}

.gems em {
  color: #FFF;
  font-weight: bold;
  font-style: normal;
}

