body, #preso, .slide, pre.sh_sourceCode {
  background-color: #191818;
  color: #00D4FF;
}

h1 {
  color: #00D4FF;
}

h2, .bullets ul {
  color: #73AD43;
}

pre.sh_sourceCode .sh_string {
  color: #73AD43;
  font-weight: bold;
}
pre.sh_sourceCode .sh_keyword {
  color: #FFF;
}
pre.sh_sourceCode .sh_cbracket,
pre.sh_sourceCode .sh_symbol {
  color: #FF00A2;
}
pre.sh_sourceCode .sh_type {
  color: #73AD43;
}
pre.sh_sourceCode .sh_function {
  color: #00D4FF;
}

