body, #preso, .slide, pre.sh_sourceCode {
  background-color: #fff;
  color: #725e47;
}

h1 {
  color: #00569e;
}

a {
  color: #6495be;
}

pre code {
  font-size: 90%;
}

pre.sh_sourceCode .sh_cbracket,
pre.sh_sourceCode .sh_keyword {
  color: #d29815;
}
pre.sh_sourceCode .sh_function {
  color: #00569e;
}
pre.sh_sourceCode .sh_number,
pre.sh_sourceCode .sh_string {
  color: #6495be;
}

